/*--------------------------최상위 요소------------------------------*/

.App {
  font-family: "Josefin Sans", sans-serif; /* 글씨 폰트 */
  font-weight: 500; /* 폰트 굵기 */
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black; /* 텍스트 그림자 */
  text-align: center; /* 텍스트 정렬 */
  display: grid;
  justify-content: center; /* 콘텐츠 수평 가운데 정렬 */
  background-color: rgba(113, 146, 77, 0.2); /* 배경 색 */
}

/*--------------------------헤더 요소------------------------------*/

p {
  margin-top: 15px;
}
.header {
  display: flex; /* 공간 자동 분배*/
  width: 800px; /* 행 길이 */
  height: 100px; /* 열 길이 */
  font-size: xx-large; /* 폰트 크기 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.img-box {
  width: 100px; /* 행 길이 */
  height: 100px; /* 열 길이 */
  margin-right: 28%; /* 오른쪽 여백 */
  background-image: url('./img/Me.jpeg'); /* 이미지 삽입 */
  background-size: cover; /* 화면 크기 */
}

.header-title {
  margin-top: 30px; /* 상위 여백 */
}

/*----------------------------소개 섹션------------------------------*/

.about-container {
  display: grid; /* 공간 그리드 분배 */
  grid-template-columns: repeat(2, 400px); /* 2열로 나눔 */
  grid-template-rows: repeat(2, 400px); /* 2행으로 나눔 */
  border-radius: 6px; /* 꼭짓점 둥글기 */
  margin-top: 100px; /* 상위 여백 */
  font-size: x-large; /* 폰트 크기 */
}

.section-center {
  width: auto; /* 행 크기 */
  position: absolute; /* 절대적 위치 */
  font-size: xx-large; /* 폰트 사이즈 */
  translate: 240px 325px; /* 요소 위치 이동 */
}

.texthover1:hover, .texthover2:hover, .texthover3:hover, .texthover4:hover{
  font-weight: 1000; /* 폰트 굵기 */
  transform: scale(2.0); /* 크기 증가 */
  transition: transform 0.5s; /* 증가하는데 걸리는 시간 */
}
.texthover1:hover{
  color: rgb(126, 136, 168);
}
.texthover2:hover{
  color: yellowgreen;
}
.texthover3:hover{
  color: lightgreen;
}
.texthover4:hover{
  color: palegoldenrod;
}

/* 각 섹션 공통 스타일 */
.about-section {
  height: 100%;
  border-radius: 7px;
  background-size: cover;
  filter: grayscale(100%); /* 필터 */
  color: gray;
  opacity: 0.3; /* 투명도 */
  transition: opacity 0.5s, transform 0.5s;
}

/* 배경 이미지 설정 */
.section1 {
  background-image: url('./img/tree.jpg');
}
.section2 {
  background-image: url('./img/sea.jpg');
}
.section3 {
  background-image: url('./img/coffee.jpg');
}
.section4 {
  background-image: url('./img/flower.jpg');
}

/* 마우스 오버 효과 */
.about-section:hover {
  opacity: 1.0;
  transform: scale(1.2);
  filter: grayscale(0%);
  color: white;
}

/*---------------------------파도 섹션-------------------------------*/

.wave-section {
  width: 800px;
  height: 800px;
  margin-top: 500px;
  background-image: url("./img/PADO.jpg");
  background-size: cover;
  color: white;
  font-size: xx-large;
  text-shadow: none; /* 텍스트 그림자 */
  display: flex;
  flex-direction: column; /* 자식 요소들 정렬 */
  justify-content: center; /* 자식 요소 가운데 정렬 */
  align-items: center; /* 자식 요소 가운데 정렬 */
  transition: transform 0.5s;
}

.wave-section:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.texthover5:hover{
  transform: scale(1.5);
  filter: grayscale(0%);
  color: black;
  transition: transform 0.5s;
}

/*---------------------------푸터 요소-------------------------------*/

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 7px;
  font-size: 30px;
  text-align: center;
  margin-top: 200px;
}

.f-section {
  margin-top: 50px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.f-section:hover {
  color: gray;
}
