/*--------------------------최상위 요소------------------------------*/

.App {
  font-family: "Josefin Sans", sans-serif; /* 글씨 폰트 */
  font-weight: 500; /* 폰트 굵기 */
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black; /* 텍스트 그림자 */
  text-align: center; /* 텍스트 정렬 */
  display: grid;
  justify-content: center; /* 콘텐츠 수평 가운데 정렬 */
  background-color: rgba(113, 146, 77, 0.2); /* 배경 색 */
}

/*--------------------------헤더 요소------------------------------*/

p {
  margin-top: 15px;
}
.header {
  display: flex;
  width: 800px;
  height: 100px;
  font-size: xx-large;
  text-align: center;
}

.img-box {
  width: 100px;
  height: 100px;
  margin-right: 28%;
  background-image: url('./img/Me.jpeg');
  background-size: cover;
}

.header-title {
  margin-top: 30px;
}

/*----------------------------소개 섹션------------------------------*/

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 400px); /* 2열로 나눔 */
  grid-template-rows: repeat(2, 400px); /* 2행으로 나눔 */
  border-radius: 6px;
  margin-top: 100px;
  font-size: x-large;
}

.section-center {
  width: auto;
  position: absolute;
  font-size: xx-large;
  translate: 240px 325px;
}

.texthover1:hover, .texthover2:hover, .texthover3:hover, .texthover4:hover{
  font-weight: 1000;
  transform: scale(2.0);
  transition: transform 0.5s;
}
.texthover1:hover{
  color: rgb(126, 136, 168);
}
.texthover2:hover{
  color: yellowgreen;
}
.texthover3:hover{
  color: lightgreen;
}
.texthover4:hover{
  color: palegoldenrod;
}

/* 각 섹션 공통 스타일 */
.about-section {
  height: 100%;
  border-radius: 7px;
  background-size: cover;
  filter: grayscale(100%);
  color: gray;
  opacity: 0.3;
  transition: opacity 0.5s, transform 0.5s;
}

/* 배경 이미지 설정 */
.section1 {
  background-image: url('./img/tree.jpg');
}
.section2 {
  background-image: url('./img/sea.jpg');
}
.section3 {
  background-image: url('./img/coffee.jpg');
}
.section4 {
  background-image: url('./img/flower.jpg');
}

/* 마우스 오버 효과 */
.about-section:hover {
  opacity: 1.0;
  transform: scale(1.2);
  filter: grayscale(0%);
  color: white;
}

/*---------------------------파도 섹션-------------------------------*/

.wave-section {
  width: 800px;
  height: 800px;
  margin-top: 500px;
  background-image: url("./img/PADO.jpg");
  background-size: cover;
  color: white;
  font-size: xx-large;
  text-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.wave-section:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.texthover5:hover{
  transform: scale(1.5);
  filter: grayscale(0%);
  color: black;
  transition: transform 0.5s;
}

/*---------------------------푸터 요소-------------------------------*/

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 7px;
  font-size: 30px;
  text-align: center;
  margin-top: 200px;
}

.f-section {
  margin-top: 50px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.f-section:hover {
  color: gray;
}
